.home-container {
  font-size: 24px;
  padding: 10px;
  background-color: #f2f2f2;
  text-align: center;
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 20px;
}

.home-content-container {
  padding: 10px 10px 60px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content-container h1 {
  width: 260px;
  font-size: 1em;
  margin-bottom: 15px;
}

.home-content-container p {
  width: 260px;
  color: #9e9e9e;
  font-size: 0.6em;
  margin-bottom: 15px;
}

.home-image-container {
  padding: 50px 15px;
}

.home-image-container svg {
  width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  .home-container {
    font-size: 40px;
    padding: 15px;
  }

  .home-content-container h1 {
    width: 506px;
    margin-bottom: 20px;
  }

  .home-content-container p {
    width: 506px;
    margin-bottom: 20px;
  }

  .home-image-container svg {
    width: 506px;
  }
}

@media (min-width: 768px) {
  .home-image-container {
    padding: 100px 20px;
  }

  .home-content-container {
    padding: 20px 20px 100px 20px;
  }
}

@media (min-width: 992px) {
  .home-container {
    padding: 40px;
    font-size: 55px;
  }

  .home-image-container {
    padding: 125px 20px;
  }

  .home-content-container {
    padding: 20px 20px 150px 20px;
  }

  .home-content-container h1 {
    width: 700px;
    margin-bottom: 26px;
  }

  .home-content-container p {
    margin-bottom: 47px;
    width: 700px;
  }
}

@media (min-width: 1200px) {
  .home-container {
    font-size: 40px;
    text-align: left;
  }
  .home-card {
    flex-direction: row;
    height: 580px;
  }
  .home-content-container {
    width: 50%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-content-container h1 {
    margin: auto;
    width: 105%;
    font-size: 1.2em;
  }
  .home-content-container p {
    width: 100%;
    margin-bottom: 70px;
  }
  .container-btn{
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .home-image-container {
    width: 50%;
    padding: 0;
  }
  .home-image-container svg {
    width: 100%;
    height: 100%;
  }
}
